@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

.float-container {
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    transition: bottom 1s ease-in-out;
}

.float-container.scrolled {
    // transform: translateY(-100%);
    top: 0;
    transition: top 1s ease-in-out;
}



.navbar {
    margin: 0px auto;
    width: 750px;
    border-radius: 50px;
    background: linear-gradient(to bottom right, rgb(56, 56, 56), rgb(46, 46, 46));
    box-shadow:
        0px -3px 15px rgba(0, 0, 0, 0.1),
        0px 0px 8px 0px rgba(0, 0, 0, 0.05),
        inset 0px -12px 20px -10px rgba(131, 131, 131, 0.5);
    color: #999999;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

li {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.15rem;
    list-style: none;
}

li>a {
    display: block;
    text-decoration: none;
    padding: 1rem 3rem;
    color: inherit;
    transition: 0.6s;
}

li>a:hover {
    transition: 0.3s;
    color: #ffffff;
}