@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

.float-container {
    font-size: 1rem;
    margin: 3vw auto;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    transition: transform 0.8s cubic-bezier(0.61, 0.07, 0.16, 0.81);
    z-index: 99;
}

.float-container.scrolled {
    transform: translateY(calc(-100vh + 100% + 5rem));
    transition: transform 0.8s cubic-bezier(0.61, 0.07, 0.16, 0.81);
}

.navbar {
    margin: 0px auto;
    width: 90vw;
    max-width: fit-content;
    border-radius: 50px;
    box-shadow:
        0px 4px 15px rgba(0, 0, 0, 0.2),
        0px 0px 8px 0px rgba(0, 0, 0, 0.1),
        inset 0px 12px 20px -10px rgba(131, 131, 131, 0.6);
    color: #c0c0c0;
    background: rgba(255, 255, 255, 0.025);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 172, 181, 0.25);
    transition: box-shadow 0.8s;
}

.navbar.bottom {
    box-shadow:
        0px -3px 15px rgba(0, 0, 0, 0.2),
        0px 0px 8px 0px rgba(0, 0, 0, 0.1),
        inset 0px -12px 20px -10px rgba(131, 131, 131, 0.6);
    transition: box-shadow 0.8s;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

li {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.15em;
    list-style: none;
}

li>a {
    display: block;
    text-decoration: none;
    padding: 1em 3em;
    color: inherit;
    transition: 0.6s;
    cursor: pointer;
}
.inactive {
    color: #c0c0c0 !important;
    transition: 0.6s;
    text-shadow: none !important;
}

li>a:hover {
    transition: 0.3s;
    color: #ffffff;
    text-shadow: 0 0 3px #00ADB5, 0 0 6px #00ADB5, 0 0 9px #00ADB5;

}

.active {
    transition: 0.3s;
    color: #ffffff !important;
    text-shadow: 0 0 3px #00ADB5, 0 0 6px #00ADB5, 0 0 9px #00ADB5;
}

@media screen and (max-width: 900px) {
    .navbar{
        width: 80vw;
    }
    li{
        font-size: 1em;
    }
    li>a{
        padding: 1em 2em;
    }
}
