<div class="float-container">
    <nav class="navbar" [class.scrolled]="isScrolled">
        <div class="nav-container">
            <ul class="nav-links">
                <li *ngFor="let section of sections">
                    <a 
                        [class.active]="activeSection === section.id"
                        (click)="scrollTo(section.id)"
                        class="nav-link"
                    >
                        {{ section.label }}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
