<logo-banner></logo-banner>
<float-navbar></float-navbar>
<div class="container">
    <svg class="svg-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#00ADB5" fill-opacity="1"
            d="M0,0L60,32C120,64,240,128,360,133.3C480,139,600,85,720,53.3C840,21,960,11,1080,42.7C1200,75,1320,149,1380,186.7L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
        </path>
    </svg>
    <div class="sections">
        <section id="section-intro">
            <div class="quarter-circle-top"></div>
            <page-intro></page-intro>
            <div class="quarter-circle-bottom"></div>
        </section>

        <section id="section-about">
            <div class="quarter-circle-top"></div>
            <page-about></page-about>
            <div class="quarter-circle-bottom"></div>
        </section>

        <section id="section-skills">
            <div class="quarter-circle-top"></div>
            <page-skills></page-skills>
            <div class="quarter-circle-bottom"></div>
        </section>

        <section id="section-projects">
            <div class="quarter-circle-top"></div>
            <page-projects></page-projects>
            <div class="quarter-circle-bottom"></div>
        </section>

        <section id="section-contact">
            <div class="quarter-circle-top"></div>
            <page-contact></page-contact>
            <div class="quarter-circle-bottom"></div>
        </section>

    </div>
</div>