<logo-banner></logo-banner>
    <float-navbar></float-navbar>
<div class="container">
    <div class="sections">
    <section id="section-intro">
        <page-intro></page-intro>
    </section>

    <section id="section-about">
        <page-about></page-about>
    </section>

    <section id="section-skills">
        <page-skills></page-skills>
    </section>

    <section id="section-projects">
        <page-projects></page-projects>
    </section>

    <section id="section-contact">
        <page-contact></page-contact>
    </section>
</div>
</div>