.main {
    margin: 0 auto;
    font-family: 'Raleway';
    height: calc(100vh - 6px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
    width: 100%;
}

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3),
        1px 1px 4px rgba(19, 108, 180, 0.45);
}

h3,
h1 {
    animation: slideIn 1.5s;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hello {
    text-align: start;
    font-size: 2vw;
    padding: 0 0 3vw 0;
}


.iam {
    width: 100%;
    text-align: start;
    font-size: 2vw;
}

.name {
    font-family: 'Signika Negative', sans-serif;
    width: 100%;
    font-size: 8vw;
    text-shadow: -2px -2px 2px #072230,
        3px 4px 2px #00ADB5,
        6px 8px 2px #00090e81;
    animation: breathing 5s ease-out infinite normal;
}

.role {
    width: 100%;
    text-align: end;
    padding: 1vw 0 0 0;
    font-size: 2vw;
}

@keyframes breathing {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(-5px);
    }
}