<div class="main">
    <h1>Projects</h1>
    <div class="container">
        <div class="project fade-in" *ngFor="let project of projects">
            <a href="{{project.link}}" class="profile" tabindex="0" [attr.aria-label]="'View project: ' + project.name">
                <div class="img" [style.backgroundImage]="'url(' + project.src + ')'">
                    <img [src]="project.src" [alt]="project.name + ' screenshot'" (error)="project.src='assets/img/fallback.png'" style="display:none;" />
                    <div class="overlay"></div>
                </div>
                <div class="name">{{project.name}}</div>
                <div class="tag">{{project.desc}}</div>
                <div class="techs">
                    <img *ngFor="let tech of project.techs" [src]="tech" [alt]="tech + ' icon'">
                </div>
                <div class="actions" [ngClass]="{'two-buttons': project.isDemoAvailable, 'one-button': !project.isDemoAvailable}">
                    <a *ngIf="project.isDemoAvailable" [href]="project.demo" target="_blank" class="btn-action" [attr.aria-label]="'View demo for ' + project.name">Demo</a>
                    <a [href]="project.link" target="_blank" class="btn-action" [attr.aria-label]="'View on GitHub for ' + project.name">Code</a>
                </div>
            </a>
        </div>
    </div>
</div>