.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.skill-container {
    width: 100%;
}
.icon{
    position:relative ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.icon>img{
    width: 40px;
}
.icon:hover{
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1.1);
}

.languages,
.tools,
.frameworks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 10rem));
    justify-content: stretch;
    align-items: stretch;
    grid-auto-flow: row;
    padding: 1rem;
    gap: 1rem;
    border: 1px solid black;
    margin: 0 auto;
}

.languages>div,
.tools>div,
.frameworks>div {
    
    padding: 1rem;
}