<div class="main">
    <h1 id="skill">Technical Expertise</h1>
    <div class="skill-container">
        <div class="skill-row fade-in" *ngFor="let row of skillRows">
            <div class="skill-type">{{row.type}}</div>
            <div class="skills-list">
                <div class="skill-item" *ngFor="let skill of row.skills">
                    <img [src]="skill.icon" [alt]="skill.name">
                    <span>{{skill.name}}</span>

                </div>
            </div>
        </div>
    </div>
</div>