.main {
    // width: 70%;
    margin: 0 auto;
    height: calc(100vh - 6px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

#skill {
    font-family: "Raleway";
    color: #00ADB5;
    text-align: center;
    font-weight: 800;
    padding: 0 0 1rem 0;
    text-shadow: 2px 2px 2px #072230,
        2px 4px 3px #00090ea4;
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.languages,
.tools,
.frameworks {
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.25);
    color: #c0c0c0;
    background: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 172, 181, 0.25);
    transition: box-shadow 0.8s;
    padding: 1rem;
}

.languages>.icons,
.tools>.icons,
.frameworks>.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
    padding: 1rem;
    gap: 1rem;
}

.heading {
    text-align: center;
    font-size: 1.5rem;
}

.icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.icon>img {
    cursor: pointer;
    width: 36px;
}

.icon:hover {
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1.1);
}