.main {
    margin: 0 auto;
    font-family: 'Raleway';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
    width: 100%;
    padding: 200px 10px 180px 10px;
    font-size: 1rem;
}

.intro {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3),
        1px 1px 4px rgba(19, 108, 180, 0.45);
}

h3,
h1 {
    animation: slideIn 1.5s;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hello {
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.7em;
}


.iam {
    width: 100%;
    text-align: start;
    font-size: 1.5em;
}

.name {
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    width: 100vw;
    font-size: 3em;
    text-shadow: -1px -1px 1px #072230,
        2px 2px 2px #00ADB5,
        3px 4px 2px #00090e81;
    animation: breathing 5s ease-out infinite normal;
}
.nick{
    padding-top: 10px;
    align-self: flex-end;
    font-size: 1.5em;
}
.role {
    width: 100%;
    text-align: end;
    font-size: 1.5em;
}

@keyframes breathing {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@media screen and (max-width:600px) {
    .main{
        font-size: 0.8rem;
    }
}
@media screen and (max-width:400px) {
    .main{
        font-size: 0.7rem;
    }
}